@use 'sass/base/index' as *
@use 'sass/base/reset'

@use 'sass/global/flex-footer'


@use 'sass/global/header'
@use 'sass/global/announcement'
@use 'sass/global/promo'
@use 'sass/global/cards'
@use 'sass/global/order-steps'
@use 'sass/global/why-we'
@use 'sass/global/footer'





@use 'sass/nav'
@use 'sass/services'



*
	font-family: $mainFont


body
	background: $bodyBg


body, label, input
	cursor: $cursorText

button
	cursor: $cursorAction

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled)
	cursor: $cursorAction


a
	font-weight: 700
	&:hover
		color: $mainColor
		cursor: $cursorAction


p
	margin-bottom: 0


.container
	max-width: 1180px!important